body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.todo, .done {
    width: 45%;
}
h2 {
    border-bottom: 1px solid #ccc;

}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

button {
    background-color: #D3DDEA;
                border: none;
                color: black;
    margin-left: 10px;
}
