.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  flex-wrap: wrap;
  align-content: flex-start;

  gap: 10px;
}

.movieStyle {
  position: relative;
  flex: 0 0 calc(10% - 10px);

  border-radius: 10px;
  overflow: hidden;
}

.movieStyle img {
  width: 100%;
  height: 150px;
  transition: opacity 0.3s;
  display: block;
}

.movieStyle::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  
  opacity: 0;
  transition: opacity 0.3s;
}

.movieStyle:hover::after {
  opacity: 0.5; /* 원하는 불투명도 설정 */
}